/* Main */
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
    background-image: url("../img/bg.png");
    background-color: #FFF;
    background-repeat: no-repeat;
    background-position: right bottom;
    font-family: lato;
    overflow: scroll;
}
section{
    flex: 1;
    display: flex;
}
.left{
    display: flex;
    width: 25%;
}
main{
    flex: 1;
}
.content{
    display: flex;
    width: 75%;
    margin: auto;
}

/* Header */
header{
    height: 50px;
    border-bottom: 5px solid #00A19B;
    background: #F1F1F2;
}
.icon{
    height: 36px;
}
.icon-width{
    width: 150px;
}
.logo{
    height: 50px;
}
.navigation{
    width: 250px;
}

/* Footer */
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 75px;
    background: #F1F1F2;
    border-top: 5px solid #00A19B;
    padding-bottom: 5px;
}
.some{
    width: 200px;
    display: flex;
    justify-content: space-between;
}
.some_icon{
    height: 25px;
}
.kontakt{
    width: 120px;
}

/* Fonts */
h1 {
  text-align: left;
  font-size: 16px;
  margin-left: 25px;
  margin-bottom: -37px;
  margin-top: 20px;
  font-weight: bold;
}

/* Links */
a{
    text-decoration: none;
    color: #000;
}
.navi:hover{
    color: #00A19B;
}
.current{
    font-weight: bold;
    color: #044C7F;
}

/* Flex */
.flex{
    display: flex;
}

.space{
    justify-content: space-between;
}
.center{
    align-items: center;
}

.grid{
display: flex;
flex-wrap: wrap;
justify-content: flex-end;
margin-top: 50px;
}

.cardGrid {
border-radius: 5px;
background-color: rgb(241, 241, 242);
box-shadow: 0px 0px 8.55px 0.45px rgba(0, 0, 0, 0.3);
width: 31.18%;
height: 242px;
display: flex;
flex-direction: column;
margin-bottom: 20px;
margin-left: 2.1%;
}

.titelCard {
margin-top: 9px;
}

.matematikBox {
border-radius: 5px 5px 0px 0px;
background-color: rgb(52, 88, 103);
height: 59px;
color: white;
text-align: center;
}

.danskBox {
border-radius: 5px 5px 0px 0px;
background-color: rgb(52, 103, 92);
height: 59px;
color: white;
text-align: center;
}

.kodningBox {
border-radius: 5px 5px 0px 0px;
background-color: rgb(120, 165, 163);
height: 59px;
color: white;
text-align: center;
}

.cardText {
margin: 20px 30px 0px 30px;
}

.forfatterText{
margin: 20px 30px 0px 30px;
font-style: italic;
}

.linkCard{
color: #044C7F;
bottom: -30px;
text-align: center;
position: relative;
}

.plusBox {
border-radius: 5px 5px 0px 0px;
background-color: rgb(033, 099, 147);
height: 59px;
color: white;
text-align: center;
}

.plusImg{
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.plus{
width: 40%;
height: 40%;
}

.column {
display: flex;
flex-direction: column;
justify-content: flex-start;
margin-top: 50px;
}

.cardColumn {
background-color: rgb(241, 241, 242);
box-shadow: 0px 0px 8.55px 0.45px rgba(0, 0, 0, 0.3);
height: 242px;
display: flex;
flex-direction: column;
margin-bottom: 20px;
justify-content: flex-end;
width: 100;
}

.titelVenstre{
font-weight: bold;
position: relative
}

.forfatterSvar{
display: flex;
flex-direction: row;
justify-content: space-between;
font-style: italic;
font-size: 12px;
}

.forfatterVenstre{
font-style: italic;
font-size: 12px;
text-align: right;
}

.hvidTekst {
width: 66%;
display: flex;
flex-direction: column;
justify-content: space-between;
padding: 5px;
}

.matematikLeft {
background-color: rgb(52, 88, 103);
color: white;
width: 33%;
}

.danskLeft {
background-color: rgb(52, 103, 92);
color: white;
width: 33%;
}

.kodningLeft {
background-color: rgb(120, 165, 163);
color: white;
width: 33%;
}

.hvidBox {
background-color: rgb(255, 255, 255);
height: 59px;
margin-top: 2px;
display: flex;
flex-direction: row;
	}

.hvidNyhed {
background-color: rgb(255, 255, 255);
height: 59px;
margin-top: 2px;
display: flex;
flex-direction: row;
align-items: center;
}

	.overskriftVenstre {
text-align: center;
font-weight: bold;
font-size: 16px;
margin-bottom: 20px;
	}

.textLeft {
margin: 8px;
}

.pagination{
    width: 120px;
}
