/* Main */
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
    background-image: url("../img/bg.png");
    background-color: #FFF;
    background-repeat: no-repeat;
    background-position: right bottom;
    font-family: lato;
}
section{
    flex: 1;
    display: flex;
}
.left{
    width: 25%;
    border: 1px solid red;
}
main{
    flex: 1;
    border: 1px solid red;
}
.content{
    width: 75%;
    margin: auto;
}

/* Header */
header{
    height: 50px;
    border-bottom: 5px solid #00A19B;
    background: #F1F1F2;
}
.icon{
    height: 36px;
}
.icon-width{
    width: 150px;
}
.logo{
    height: 50px;
}
.navigation{
    width: 250px;
}

/* Footer */
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 75px;
    background: #F1F1F2;
    border-top: 5px solid #00A19B;
    padding-bottom: 5px;
}
.some{
    width: 200px;
    display: flex;
    justify-content: space-between;
}
.some_icon{
    height: 25px;
}
.kontakt{
    width: 120px;
}

/* Fonts */


/* Links */
a{
    text-decoration: none;
    color: #000;
}
a:hover{
    color: #00A19B;
}
.current{
    font-weight: bold;
    color: #044C7F;
}

/* Flex */
.flex{
    display: flex;
}
.space{
    justify-content: space-between;
}
.center{
    align-items: center;
}
