.column {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    margin-top: 50px;
                    }

                    .cardColumn {
                    background-color: rgb(241, 241, 242);
                    box-shadow: 0px 0px 8.55px 0.45px rgba(0, 0, 0, 0.3);
                    height: 351px;
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 15px;
                    justify-content: flex-start;
                    width: 100;
                    }

                    .hvidBoxfilter {
                    background-color: rgb(255, 255, 255);
                    margin: 5px 5px 0px 5px;
                    display: flex;
                    flex-direction: column;
                  	padding-bottom: 9.5px;
                  	}

                  	.filterTitel{
                  	font-size: 20px;
                  	font-weight: bold;
                  	padding-bottom: 8.5px;
                  	}

                  	.paddingFilter {
                  	padding-left: 8px;

                  	}

                  	.filterMargin {
                  		margin-left: 5px;
                  	}

                  	.knapFilter {
                  	background-color: rgb(255, 255, 255);
                  	box-shadow: 0px 0px 2px 0.45px rgba(0, 0, 0, 0.3);
                  	border: none;
                  	width: 43.5%;
                  	text-align: center;
                  	text-decoration: none;
                  	display: inline-block;
                  	font-size: 16px;
                  	cursor: pointer;
                  	padding: 5px 7.2px 8px 5px;
                  	margin-top: 5px;

                  	}

                  	button:focus {outline:0;}

                  	.knapFilter:hover {
                  	box-shadow: 0px 0px 6px 0.45px rgba(0, 0, 0, 0.3);
                  	}

                  	.knapFilter:active {
                  	box-shadow: 0px 0px 1px 0.45px rgba(0, 0, 0, 0.3);
                  	}


                  	.search{
                  	padding: 6px 6px 6px 6px;
                    margin-top: 5px;
                  	margin-left: 5px;
                    font-size: 16px;
                  	border-width: 0.5px;
                  	border-style: solid;
                  	width: 75%;
                    flex: 1;
                  	}

                  	.search:focus {
                  	outline: none;
                  	}

                    .searchKnap {
                    padding: 6px 5px 8px 5px;
                    font-size: 17px;
                    margin-top: 5px;
                    margin-right: 5px;
                    border: none;
                    background-color: rgb(033, 099, 147);
                    color: white;
                    }

                  	.searchKnap:hover{
                  	box-shadow: 0px 0px 3.55px 0.45px rgba(0, 0, 0, 0.3);
                  	}
