

                                    .grid{
                                    display: flex;
                                    flex-wrap: wrap;
                                    justify-content: flex-end;
                                    margin-top: 50px;
                                    }

                                    .cardGrid {
                                    border-radius: 5px;
                                    background-color: rgb(241, 241, 242);
                                    box-shadow: 0px 0px 8.55px 0.45px rgba(0, 0, 0, 0.3);
                                    width: 31.18%;
                                    height: 242px;
                                    display: flex;
                                    flex-direction: column;
                                    margin-bottom: 20px;
                                    margin-left: 2.1%;
                                    }

                                    .titelCard {
                                    margin-top: 9px;
                                    }

                                    .matematikBox {
                                    border-radius: 5px 5px 0px 0px;
                                    background-color: rgb(52, 88, 103);
                                    height: 59px;
                                    color: white;
                                    text-align: center;
                                    }

                                    .danskBox {
                                    border-radius: 5px 5px 0px 0px;
                                    background-color: rgb(52, 103, 92);
                                    height: 59px;
                                    color: white;
                                    text-align: center;
                                    }

                                    .kodningBox {
                                    border-radius: 5px 5px 0px 0px;
                                    background-color: rgb(120, 165, 163);
                                    height: 59px;
                                    color: white;
                                    text-align: center;
                                    }

                                    .cardText {
                                    margin: 20px 30px 0px 30px;
                                    }

                                    .forfatterText{
                                    margin: 20px 30px 0px 30px;
                                    font-style: italic;
                                    }

                                    .linkCard{
                                    color: #044C7F;
                                    bottom: -30px;
                                    text-align: center;
                                    position: relative;
                                    }

                                    .plusBox {
                                    border-radius: 5px 5px 0px 0px;
                                    background-color: rgb(033, 099, 147);
                                    height: 59px;
                                    color: white;
                                    text-align: center;
                                    }

                                    .plusImg{
                                      display: flex;
                                      justify-content: center;
                                      margin-top: 10%;
                                    }

                                    .plus{
                                    width: 40%;
                                    height: 40%;
                                    }

                                    .column {
                                        display: flex;
                                        flex-direction: column;
                                        justify-content: flex-start;
                                        margin-top: 50px;
                                        }

                                        .cardColumn {
                                        background-color: rgb(241, 241, 242);
                                        box-shadow: 0px 0px 8.55px 0.45px rgba(0, 0, 0, 0.3);
                                        height: 504px;
                                        display: flex;
                                        flex-direction: column;
                                        margin-bottom: 20px;
                                        justify-content: flex-start;
                                        width: 100;
                                        }

                                        .hvidBoxfilter {
                                        background-color: rgb(255, 255, 255);
                                        margin: 5px 5px 0px 5px;
                                        display: flex;
                                        flex-direction: column;
                                      	padding-bottom: 9.5px;
                                      	}

                                      	.filterTitel{
                                      	font-size: 20px;
                                      	font-weight: bold;
                                      	padding-bottom: 8.5px;
                                      	}

                                      	.paddingFilter {
                                      	padding-left: 8px;
                                      	}

                                          .search{
                                        	padding: 6px 6px 6px 6px;
                                          margin-top: 5px;
                                        	margin-left: 5px;
                                          font-size: 16px;
                                        	border-width: 0.5px;
                                        	border-style: solid;
                                        	width:75%;
                                        	flex: 1;
                                        	}

                                        	.search:focus {
                                        	outline: none;

                                        	}

                                        	.searchKnap {
                                        	padding: 6px 5px 8px 5px;
                                        	font-size: 17px;
                                        	margin-top: 5px;
                                        	margin-right: 5px;
                                        	border: none;
                                        	background-color: rgb(033, 099, 147);
                                        	color: white;
                                        	}

                                      	.searchKnap:hover{
                                      	box-shadow: 0px 0px 3.55px 0.45px rgba(0, 0, 0, 0.3);
                                      	}

                                      	.filterMargin {
                                      		margin-left: 5px;
                                      	}
