.box{
    padding-bottom: 50px;
    background: #f1f1f2;
    margin-bottom: 50px;
    box-shadow: 0px 0px 8.55px 0.45px rgba(0, 0, 0, 0.3);
    z-index: 3;
    flex: 1;
    padding: 30px;
    position: relative;
}
.small-button{
    height: 50px;
    background: #f1f1f2;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.site{
    background: #f1f1f2;
    z-index: 5;
    box-shadow: -5px 0px 8.55px 0.45px rgba(0, 0, 0, 0.3);

}
.fyld{
    width: 25%;
}

.margin-t-50{
    margin-top: 50px;
}
.faq{
    margin: 10px 0px;
}
.manu:hover{
    font-weight: bold;
}
.mail{
    width: 125px;
    height: 100%;
    margin-left: 75px;
}
.knap {
background-color: rgb(255, 255, 255);
box-shadow: 0px 0px 5px 0.45px rgba(0, 0, 0, 0.3);
border: none;
width: 136px;
height: 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
cursor: pointer;
}

button:focus {outline:0;
}

.knap:hover {
box-shadow: 0px 0px 8px 0.45px rgba(0, 0, 0, 0.3);
}

.knap:active {
box-shadow: 0px 0px 1px 0.45px rgba(0, 0, 0, 0.3);
}
.knappen{
    justify-content: flex-end;
    margin-top: 15px;
}
.jans-boks{
    position: absolute;
    z-index: 50;
    right: 103%;
    bottom: 0%;
    width: 75px;
}
.billed-jan{
    border-radius: 50%;
    width: 75px;
    height: 75px;
    border: 1px solid #000;
}

.boks-jan{
    position: relative;
	background: #f1f1f2;
    padding: 5px;
    margin-bottom: 20px;
}
.boks-jan::after{
    content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	border: 15px solid transparent;
	border-top-color: #f1f1f2;
	border-bottom: 0;
	margin-bottom: -15px;
}








.mini{
    font-size: 10px;
}
